nav {
    background-color: rgb(70, 58, 184);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

nav * {
    display: inline;
}

nav li {
    margin: 20px;
}

nav li a {
    color: black;
    text-decoration: none;
}